.flex-col-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid brown;
  gap: 12px;
  padding: 16px;
  border-radius: 0.75rem;
  margin-top: 40px;
  margin: 20px;
  height: 360px;
}

.full-cover-image{
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.product-title{
  width: 10rem; /* 1rem = 4px 기준으로 40px * 2.5 = 100px */
  overflow: hidden; /* 긴 텍스트를 숨기기 위한 설정 */
  text-overflow: ellipsis; /* 텍스트가 넘칠 때 말줄임표 (...)로 표시 */
  white-space: nowrap; /* 텍스트를 한 줄로 만듦 */
  margin-top: 0.75rem;
  color: #4a5568; 
  font-weight: bold; 
  font-size: 1.125rem;
}

.add-cart-btn-wrapper{
  display: flex; /* Flexbox 레이아웃을 활성화합니다. */
  align-items: center; /* 세로축 중앙 정렬 */
  justify-content: center; /* 가로축 중앙 정렬 */
  width: 100%; /* 너비를 부모의 전체로 설정 */
  margin-top: 1.25rem; 
}

.add-cart-btn{
  background: brown;
  color: white;
  border: none;
  border-radius: 0.5rem;
  padding: 1rem;
  font-weight: bold;
}